.footer {
	color: #545454;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 880px;
	margin: 0 auto;
	margin-top: 67px;
	padding-bottom: 60px;

}
