.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 19px;
  display: none;
  /* display: flex; */

  /* align-items: center;
    justify-content: center; */
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  padding-bottom: 36.51px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 300ms;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: black;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
  padding-bottom: 13.34px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__button {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border-radius: 2px;
  background-color: #000000;
  color: white;
  margin-top: 48px;
  border: none;
  cursor: pointer;
  transition: opacity 300ms;
}

.modal__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0px;
    left: auto;
    bottom: calc(100% + 13.62px);
  }
  .modal__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 75px;
  }
  .modal__button {
    font-size: 14px;
    line-height: normal;
    padding: 14px 0;
  }
}
