.profile {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 47.25px;
}

.profile__image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.profile__info {
	display: grid;
	grid-template-areas:
		'title button'
		'description description';
	grid-template-columns: minmax(auto, 1fr) auto;
	align-items: center;
	gap: 10px 20px;
}

.profile__title {
	grid-area: title;
	font-size: 42px;
	font-weight: 500;
	line-height: 48px;
	margin: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 400px;
}

.profile__description {
   grid-area: description;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 400px;
}

.profile__edit-button {
	grid-area: button;
	background: transparent url(../images/edit-icon.svg) center no-repeat;
	height: 24px;
	width: 24px;
	border: white 1px solid;
	cursor: pointer;
}

.profile__edit-button:hover {
	border-color: #545454;
	background: transparent url(../images/edit-icon-hover.svg) center no-repeat;
}

.profile__add-button {
	background: transparent url(../images/add-icon.svg) center no-repeat;
	width: 150px;
	height: 50px;
	margin-left: auto;
	border: white 2px solid;
	cursor: pointer;
}

.profile__add-button:hover {
	border-color: #545454;
	background: transparent url(../images/add-icon-hover.svg) center no-repeat;
}

@media screen and (max-width: 790px) {
	.profile__title {
		font-size: 32px;
		line-height: 38.63px;
	}

	.profile__add-button {
		width: 50px;
	}
}

@media screen and (max-width: 320px) {
	.profile {
		margin-top: 42px;
		margin-bottom: 36px;
		flex-direction: column;
		gap: 30px;
	}

	.profile__info {
		display: flex;
		justify-content: center;
		gap: 10px;
		flex-wrap: wrap;
	}

	.profile__title {
		font-size: 22px;
		line-height: 26.63px;
	}

	.profile__description {
		width: 100%;
		text-align: center;
	}

	.profile__add-button {
		margin-top: 6px;
		margin-left: 0;
		width: 282px;
	}
}
