.profile {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 47.25px;
}

.profile__image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}

.profile__info {
	display: grid;
	grid-template-areas:
		'title button'
		'description description';
	grid-template-columns: 6fr 1fr;
	align-items: center;
	gap: 10px;
}

.profile__title {
	grid-area: title;
	font-size: 42px;
	font-weight: 500;
	line-height: 48px;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__description {
	grid-area: description;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	max-width: 28vw;
}

.profile__edit-button {
	grid-area: button;
	background: transparent url(../images/edit-icon.svg) center no-repeat;
	height: 24px;
	width: 24px;
	border: white 1px solid;
	cursor: pointer;
	transition: opacity 300ms;
}

.profile__edit-button:hover {
	opacity: 0.6;
}

.profile__add-button {
	background: transparent url(../images/add-icon.svg) center no-repeat;
	width: 150px;
	height: 50px;
	margin-left: auto;
	border: white 2px solid;
	cursor: pointer;
	flex: 0 0 auto;
	border-radius: 2px;
	transition: opacity 300ms;
}

.profile__add-button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 990px) {
	.profile__title {
		font-size: 32px;
		line-height: 38.63px;
	}
}

@media screen and (max-width: 520px) {
	.profile {
		margin-top: 42px;
		margin-bottom: 36px;
		flex-direction: column;
		gap: 30px;
	}

	.profile__title {
		font-size: 22px;
		line-height: 26.63px;
		max-width: 60vw;
	}

	.profile__description {
		font-size: 14px;
		text-align: center;
		justify-self: center;
	}

	.profile__edit-button {
		height: 18px;
		width: 18px;
		background-size: 7.5px;
	}

	.profile__add-button {
		margin-top: 6px;
		margin-left: 0;
		width: 282px;
		background-size: 16px;
		/* cursor: pointer; */
	}
}
